//
   Created by zaephor on 3/21/15.

extends layout
block content
    div(class="container")
        div(class="row")
            h1(class="col-md-4") Search for people
            div(class="col-md-4")
                form(class="form-inline")
                    div(class="form-group")
                        input(type="text",class="form-control",id="searchPerson",placeholder="Search name")
                        button(type="submit",class="btn btn-default")
                            span(class="glyphicon glyphicon-search")
            nav(class="col-md-3 pull-right")
                ul(class="pagination pull-right")
                    li
                        a(href="#") Previous
                    li
                        a(href="#") Next
        div(class="row")
            each val in results
                div(class="col-md-3")
                    div(class="thumbnail")
                        img(src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ2ODc1IiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4=",alt="For Placement Only")
                        div(class="caption")
                            a
                                h3=val.name
                            div(class="match")
                                each percentage,category in val.match
                                    a=category
                                    div(class="progress")
                                        div(class="progress-bar", role="progressbar", aria-valuemin="0", aria-valuemax="100", aria-valuenow=percentage, style="width: "+percentage+"%")= percentage+"%"
                            div(class="actions")
                                a(class="btn btn-default",href="#sendmail"+val.id)
                                    span(class="glyphicon glyphicon-envelope",aria-hidden="true")
                                a(class="btn btn-default",href="#makefriend"+val.id)
                                    span(class="glyphicon glyphicon-plus",aria-hidden="true")
                                    span(class="glyphicon glyphicon-user",aria-hidden="true")