extends layout

block content
  h1 Welcome #{currentUser.username}
<<<<<<< HEAD
=======
  a(href='/viewuser?_id=#{currentUser._id}').btn.btn-primary View My Account info
>>>>>>> 637559fa3ce6cb77bc2adce6d74196327db553e9
  a(href='/tasks').btn.btn-primary View My Tasks
  a(href='/timesheets').btn.btn-primary View My Timesheets
  br
  br
  a(href='/likeStuff').btn.btn-warning See Dashboard
