doctype html
html
  head
    title= title
    script(src="http://code.jquery.com/jquery-2.0.2.js", type="text/javascript")
    script(src="/js/bootstrap.js", type="text/javascript")
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/justified-nav.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/css/normal.css', media='all')
    link(href='/css/style.css', rel="stylesheet")
    
  body
    block head
      header
        h1= title
        div("content"='' "class"='container')
        nav#right
          if (currentUser)
            label User: #{currentUser.username}
            a(href='/logout').btn.btn-danger Logout
            a(href='friends').btn.btn-success Friends
            a(href='likeStuff').btn.btn-success Like Stuff
            a(href='mail').btn.btn-success Mail
          else
            a(href='/Login').btn.btn-warning Log In
            a(href='/newuser').btn.btn-warning Register

        nav#left
          a(href='aboutUs').btn.btn-primary About
          a(href='help').btn.btn-primary Help
          a(href='/').btn.btn-primary Hangdog Happenstance

    block content



