extends layout

block content
	h1= title
	form#AddTimesheet(role="form", method="post", action="/addtimesheet")
		.form-group
			label Timesheet Name
			input.form-control(type="text", placeholder="Name", name="timesheetname")
		.form-group
			label(for="user") Enter user
			input.form-control#inputUser(type="text", placeholder="user", name="user")
		.form-group
			label(for="task") Enter task
			input.form-control#inputTask(type="text", placeholder="task", name="task")
		.form-group
			label(for="starttime") Enter Start Time
			input.form-control#inputStartTime(type="text", placeholder="Start Time"
				, name="starttime")
		.form-group
			label(for="endtime") Enter End Time
			input.form-control#inputEndTime(type="text", placeholder="End Time"
				, name="endtime")
		.form-group
			label(for="description") Enter Work Description
			input.form-control#inputWorkDescription(type="text", placeholder="Work Description"
			, name="description")
		.form-group
			label(for="status") Enter Status
			input.form-control#inputUserStatus(type="text", placeholder="status"
				, name="status")
		button#btnSubmit(type="submit") submit